* {
    padding:0;
    margin:0;
}

html {
    width:100%;
    height:100%;
}

body {
    font-family: Arial, Helvetica, Sans-serif, serif;
    line-height:1.5;
    font-weight:400;
    color:#434343;
    background:#FFF;
}

.container {
    width:1050px;
    margin: 0 auto;
}

header {
    margin: 0;
}

header img {
    width:100%;
}

#main {
    float:right;
    width:65%;
    margin:0 0 25px;
    text-align: justify;
}

.p-main {
    text-align: justify;
}

footer {
    clear:both;
    color:#FFF;
    background:#121212;
    padding:15px 0 15px 30px;
}

.container {
    margin:0 auto;
}

@media (min-width: 1100px) {

    .container {
        width:1050px;
    }
}

@media (max-width: 1100px) and (min-width: 1000px) {

    .container {
        width:950px;
    }
}

@media (max-width: 1000px) and (min-width: 800px) {

    .container {
        width:750px;
    }
}

@media (max-width: 800px) and (min-width: 500px) {

    .container {
        width:450px;
    }
}

@media (max-width: 500px) {

    .container {
        width:90%;
    }
}

/* navbar
 */

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar > .container,
.navbar > .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.navbar-text {
    display: inline-block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (max-width: 575.98px) {
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
}

.navbar-expand {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar-expand .navbar-toggler {
    display: none;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
    color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
    color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
    color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #fff;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #BF4042;
}

.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-pills .nav-link {
    border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
}

/* ----- slider ---- */
.slider {
    width: 75vmax;
    height: 26vmax;
    margin: auto;
    position: center;
    background-size: cover;
    background: #fff center center;
    box-shadow: 5px 10px 18px #888888;
}
.slider-slides-cnt {
    width: 75vmax;
    height: 26vmax;
    margin: auto;
    position: center;
}
.img-slide {
    width: 75vmax;
    height: 26vmax;
}
.slider-slide {
    position: absolute;
    width: 75vmax;
    height: 26vmax;
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    z-index: 0;
}
.slider-slide-active {
    opacity: 1;
    z-index: 1;
}

/* animacja */
.slider-slide {
    opacity: 0;
    transition:2s all;
}
.slider-slide-active {
    opacity: 1;
}

@media (max-width: 576px) {
    .slider {
        width: 75vmin;
        height: 36vmin;
        margin: auto;
        position: center;
        background-size: cover;
        background: #fff center center;
        box-shadow: 5px 10px 18px #888888;
    }
    .slider-slides-cnt {
        width: 75vmin;
        height: 36vmin;
        margin: auto;
        position: center;
    }
    .img-slide {
        width: 75vmin;
        height: 36vmin;
    }
    .slider-slide {
        position: absolute;
        width: 75vmin;
        height: 36vmin;
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity:0;
        z-index: 0;
    }
    .slider-slide-active {
        opacity: 1;
        z-index: 1;
    }

    /* animacja */
    .slider-slide {
        opacity: 0;
        transition:2s all;
    }
    .slider-slide-active {
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .slider {
        width: 75vmin;
        height: 26vmin;
        margin: auto;
        position: center;
        background-size: cover;
        background: #fff center center;
        box-shadow: 5px 10px 18px #888888;
    }
    .slider-slides-cnt {
        width: 75vmin;
        height: 26vmin;
        margin: auto;
        position: center;
    }
    .img-slide {
        width: 75vmin;
        height: 26vmin;
    }
    .slider-slide {
        position: absolute;
        width: 75vmin;
        height: 26vmin;
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity:0;
        z-index: 0;
    }
    .slider-slide-active {
        opacity: 1;
        z-index: 1;
    }

    /* animacja */
    .slider-slide {
        opacity: 0;
        transition:2s all;
    }
    .slider-slide-active {
        opacity: 1;
    }
}

/* sekcje */
.div-section {
    color: #FFFFFF;
    background-color: #371B50;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 0.6%;
    padding-bottom: 0.25%;
    box-shadow: 3px 3px 3px #888888;
    text-align: center;
}

.section-content {
    width: 75vw;
    margin: auto;
    position: center;
}

.div-triangle {
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
}

.hr-custom {
    background-color: #371B50;
    height: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.img-position {
    float: right;
    margin: 10px;
}

.list-custom {
    background-color: #132639;
    color: white;
    font-weight: bolder;
}

.div-contact {
    width: 40%;
    box-shadow: 2px 2px 2px 2px #888888;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    border: 1px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.div-contact2 {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.link-contact {
    color: #1D5836;
    text-decoration: none;
}

.link-contact:hover {
    color: #1D5836;
}

.p-contact {
    font-weight: bold;
    font-size: 5vh;
}

@media (max-width: 576px) {
    .p-contact {
        font-weight: bold;
        font-size: 2.5vh;
    }
}

/*header*/
.div-header {
    text-align: left;
    margin: auto;
    padding: 0;
    border: 0;
    border-bottom: 1em solid #1C3752;
    box-shadow: 2px 2px 2px 2px #BF4042;
}

.nav-link-header {
    display: block;
    padding: 0.5rem 1rem;
    color: #1C3752;
    font-size: 2vmax;
    text-decoration: none;
}

.nav-link-header:hover {
    text-decoration: none;
    color: #BF4042;
}

/*choose simulation*/
.div-wybankuj {
    border-top: 1px solid #BF4042;
    border-bottom: 1px solid #BF4042;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}

.div-boxes {
    width: 60vmax;
    margin-top: 5%;
}

.h3-simulation {
    text-align: center;
    font-weight: bold;
    /*color: black;*/
    color: #BF4042;
    margin-bottom: 2%;
}

.div-simulation-left {
    width: 20vmax;
    height: 15vmax;
    background-color: #19364D;
    border: 1px solid black;
    box-shadow: #3D78B8;
    float: left;
}

.div-simulation-right {
    width: 20vmax;
    height: 15vmax;
    background-color: #19364D;
    border: 1px solid black;
    box-shadow: #3D78B8;
    float: right;
}

.a-simulation {
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 3vmax;
    text-align: center;
}

.a-simulation:hover {
    text-underline: none;
    text-decoration-line: none;
    color: #FFFFFF;
    font-size: 3vmax;
    text-align: center;
}

.p-simulation {
    /*line-height: 20%;*/
    text-align: center;
}

@media (max-width: 800px) {
    .div-boxes {
        width: 60vmin;
        margin-top: 5%;
    }

    .div-simulation-left {
        width: 20vmin;
        height: 15vmin;
        background-color: #19364D;
        border: 1px solid black;
        box-shadow: #3D78B8;
        float: left;
    }

    .div-simulation-right {
        width: 20vmin;
        height: 15vmin;
        background-color: #19364D;
        border: 1px solid black;
        box-shadow: #3D78B8;
        float: right;
    }

    .a-simulation {
        text-underline: none;
        text-decoration-line: none;
        color: #FFFFFF;
        font-size: 3vmin;
        text-align: center;
    }

    .a-simulation:hover {
        text-underline: none;
        text-decoration-line: none;
        color: #FFFFFF;
        font-size: 3vmin;
        text-align: center;
    }
}

/*details of wybankuj*/
.div-details {
    margin-top: 20%;
    margin-bottom: 2%;
    border-top: 1px solid #1C3752;
    border-bottom: 1px solid #1C3752;
    background-color: #F7F8FC;
    box-shadow: 1px 1px 1px 1px #BF4042;
}

.div-details-ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    color: #1C3752;
}

.h3-details {
    text-align: center;
    font-weight: bold;
    /*color: black;*/
    color: #BF4042;
    margin-top: 2%;
    margin-bottom: 2%;
}

.div-details2 {
    margin-top: 2%;
    margin-bottom: 2%;
    border-top: 1px solid #1C3752;
    border-bottom: 1px solid #1C3752;
    background-color: #F7F8FC;
    box-shadow: 1px 1px 1px 1px #BF4042;
}

.span-details {
    color: #BF4042;
    font-weight: bolder;
    text-decoration: none;
}

.span-details:hover {
    color: #BF4042;
    font-weight: bolder;
    text-decoration: none;
}

/*image above footer*/
.div-image-footer {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
}

.image-footer {
    width: 80vmax;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

@media (max-width: 800px) {
    .div-image-footer {
        width: 80vmin;
        margin-left: auto;
        margin-right: auto;
    }

    .image-footer {
        width: 80vmin;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
}

/*footer*/
.div-footer {
    text-align: left;
    border: 0;
}

.a-footer {
    color: #FFFFFF;
    text-decoration: none;
}

.a-footer:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* loan simulation details */
.p-info {
}

.form-loan-details {
    width: 60vmax;
    float: left;
    clear: right;
    padding: 2vmax;
    margin-bottom: 2vmax;
    background-color: #F7F8FC;
    border: 1px solid #19364D;
    /*box-shadow: 2px 2px 2px 2px black;*/
    -webkit-box-shadow: 0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    -moz-box-shadow:    0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    box-shadow:         0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    /*-webkit-box-shadow: 0px 4px 10px 0px #BF4042;*/
    /*-moz-box-shadow:    0px 4px 10px 0px #BF4042;*/
    /*box-shadow:         0px 4px 10px 0px #BF4042;*/
    /*box-shadow: 3px 3px 3px 20px #182019;*/
}

.form-loan-details-info {
    width: 20vmax;
    height: 9vmax;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C3752;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    -moz-box-shadow:    0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    box-shadow:         0px 4px 10px 0px rgba(84, 75, 61, 0.56);
}

#div-amount {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
}

#div-period {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
    margin-top: 9vmax;
}

#div-age {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
    margin-top: 18vmax;
}

#div-charge {
    width: 20vmax;
    height: 11vmax;
    margin-left: 60vmax;
    margin-top: 27vmax;
}

#div-insurance {
    width: 20vmax;
    height: 10vmax;
    margin-left: 60vmax;
    margin-top: 38vmax;
}

#div-cost-hipo {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
}

#div-amount-hipo {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
    margin-top: 11vmax;
}

#div-period-hipo {
    width: 20vmax;
    height: 9vmax;
    margin-left: 60vmax;
    margin-top: 20vmax;
}

#div-age-hipo {
    width: 20vmax;
    height: 5vmax;
    margin-left: 60vmax;
    margin-top: 29vmax;
}

#div-charge-hipo {
    width: 20vmax;
    height: 11vmax;
    margin-left: 60vmax;
    margin-top: 34vmax;
}

#div-insurance-hipo {
    width: 20vmax;
    height: 10vmax;
    margin-left: 60vmax;
    margin-top: 45vmax;
}

.label-title {
    color: #1C3752;
    font-size: 2vmax;
    /*font-weight: bold;*/
}

.form-p-info {
    color: #FFFFFF;
    width: 100%;
    margin: auto;
    padding: 1vmax;
    font-size: 1vmax;
    text-align: justify;
}

.form-p-info-mini {
    color: #FFFFFF;
    width: 100%;
    margin: auto;
    padding: 1vmax;
    font-size: 1.3vmax;
    text-align: justify;
}

.div-outer-amount {
    float:left;
    overflow: hidden;
    position: absolute;
}

.btn-next {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* list offers */

.div-list-offers {
    -webkit-box-shadow: 0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    -moz-box-shadow:    0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    box-shadow:         0px 4px 10px 0px rgba(84, 75, 61, 0.56);
}

.td-list-offer {
    vertical-align: middle;
}

.td-list-offer-red {
    vertical-align: middle;
    font-weight: bold;
    color: crimson;
}

.th-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    height: 6vmax;
    /*display: inline-block;*/
    /*font-weight: 400;*/
    /*color: #212529;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*background-color: transparent;*/
    /*border: 1px solid transparent;*/
    /*padding: 0.375rem 0.75rem;*/
    /*font-size: 1rem;*/
    /*line-height: 1.5;*/
    /*border-radius: 0.25rem;*/
    /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
}

.th-sticky-compare {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    height: 6vmax;
    background-color: #FFFFFF;
}

/* list of agencies */
.img-h3 {
    width: 15vmax;
    height: 8vmax;
}

.span-h3 {
    vertical-align: middle;
    margin-left: 2vmax;
}

.th-sticky-agencies {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    color: #FFFFFF;
    background-color: #1C3752;
}

/* contact form */
.div-contact-form {
    padding: 2%;
    margin-bottom: 2vmax;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    -moz-box-shadow:    0px 4px 10px 0px rgba(84, 75, 61, 0.56);
    box-shadow:         0px 4px 10px 0px rgba(84, 75, 61, 0.56);
}

.h4-send-msg {
    color: green;
    text-align: center;
    margin-bottom: 1vmax;
}

/* info alert */
.info-alert {
    font-size: 8px;
    text-align: justify;
    color: #1C3752;
    margin-bottom: 1vmax;
}

.td-compare-offers {
    vertical-align: middle;
    text-align: left;
    background-color: #F0F5FA;
    font-weight: bold;
}

.td-compare-offers-normal {
    color: #1C3752;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #F0F5FA;
}

.td-compare-offers-normal-bold {
    color: #1C3752;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #F0F5FA;
}

.td-compare-offers-red {
    vertical-align: middle;
    text-align: center;
    color: crimson;
    border-left: 1px solid #F0F5FA;
}

.td-compare-offers-red-bold {
    vertical-align: middle;
    text-align: center;
    color: crimson;
    font-weight: bold;
    border-left: 1px solid #F0F5FA;
}

.checkbox1 {
}

.spangrr {
}