/** { margin: 0px; padding: 0px; }*/
/*body { margin: 10px; }*/
/*p { width: 600px; margin: 0 auto; line-height: 25px; }*/

#confirm { display: none; position: absolute; height: 100%; width: 100%; top: 0; left: 0; }
#confirm { height: expression(((window.Enumerable && window.Enumerable.max) ? [document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.clientHeight].max() : document.documentElement.scrollHeight) + 'px' ); width: expression(((window.Enumerable && window.Enumerable.max) ? [document.body.scrollWidth, document.documentElement.scrollWidth, document.body.offsetWidth, document.documentElement.clientHeight].max() : document.documentElement.scrollWidth) + 'px' );  }
#confirm[id] { position:fixed; }
#confirm div { padding: 10px; margin-top: 200px; }
#confirm div div { background: #fff; width: 500px; margin:0 auto; border: 1px solid #000000; overflow: hidden; box-shadow: black}
#confirm div div h1 { font-size: 18px; color: #FFF; }
#confirm div div p { padding: 20px; }